
{% extends 'base.html' %} 
{% load static %}
{% block content %}
<!-- ======= Appointment Section ======= -->
 <section id="appointment" class="appointment section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Prendre rendez-vous</h2>
        <p>Si le médecin recommandé dispose d'un système de réservation en ligne, vous pouvez 
           également visiter son site web ou utiliser des plateformes
           de prise de rendez-vous en ligne pour fixer votre rendez-vous.</p>
      </div>

      <form action="forms/appointment.php" method="post" role="form" class="php-email-form">
        <div class="row">
          <div class="col-md-4 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Votre nom" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder=" Votre mail" data-rule="email" data-msg="Please enter a valid email">
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="tel" class="form-control" name="phone" id="phone" placeholder="Votre numéro de téléphone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-group mt-3">
            <input type="datetime" name="date" class="form-control datepicker" id="date" placeholder="Date de rendez-vous" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group mt-3">
            <select name="department" id="department" class="form-select">
              <option value="">Sélectionnez un département</option>
              <option value="Department 1">Département 1</option>
              <option value="Department 2">Département 2</option>
              <option value="Department 3">Département 3</option>
            </select>
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group mt-3">
            <select name="doctor" id="doctor" class="form-select">
              <option value="">Sélectionnez un Docteur</option>
              <option value="Doctor 1">Docteur 1</option>
              <option value="Doctor 2">Docteur 2</option>
              <option value="Doctor 3">Docteur 3</option>
            </select>
            <div class="validate"></div>
          </div>
        </div>

        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)"></textarea>
          <div class="validate"></div>
        </div>
        <div class="mb-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Votre demande de rendez-vous a été envoyée avec succès. Merci!</div>
        </div>
        <div class="text-center"><button type="submit">Prendre rendez-vous</button></div>
      </form>

    </div>
  </section><!-- End Appointment Section -->
  {% endblock content %}  