{% extends 'base.html' %} 
{% load static %}
{% block content %}


<!-- ======= Doctors Section ======= -->
<section id="doctors" class="doctors">
    <div class="container">
      <br><br>

      <div class="section-title">
        <h2>Médecin</h2>

        <!-- ======= insertion searchbar ======= -->
         
        <section class="intro">
          <link href="{% static 'css/searchbar.css' %}" rel="stylesheet">
          <script src="{% static 'js/searchbar.js' %}"></script>
          {% comment %} <div class="bg-image h-100" style="
                  background-image: url(https://mdbootstrap.com/img/Photos/new-templates/search-box/img2.jpg);
                "> {% endcomment %}
            {% comment %} <div class="mask d-flex align-items-center h-100" style="background-color: rgba(61, 162, 195, 0.1);">
              <div class="container">
                <div class="card mask-custom p-4">
                  <div class="card-body"> {% endcomment %}
                    <p class="h1 font-weight-bold mb-4 text-white">Chercher un Docteur</p>
                    <div class="row justify-content-center">
                      <div class="col-md-6 mb-3 mb-md-0">
                        <div id="basic" class="form-outline form-white">
                          <input type="text" id="form1" class="form-control form-control-lg" />
                          
                        </div>
                      </div>
                      <div class="col-md-4 mb-3 mb-md-0">
                        <div id="location" class="form-outline form-white">
                          <input type="text" id="form2" class="form-control form-control-lg" />
                        
                        </div>
                      </div>
                      <div class="col-md-2">
                        <input class="btn btn-info btn-block btn-lg" type="submit" value="Chercher" />
                      </div>
                    </div>
                  {% comment %} </div>
                </div>
              </div>
            </div> {% endcomment %}
          </div>
        </section>

          <!-- ======= end insertion searchbar ======= -->
        <div class="container">
        <p>Les recommandations de médecins peuvent être précieuses lorsqu'il s'agit de choisir un nouveau médecin,
           surtout si vous recherchez une spécialité spécifique ou si vous avez des besoins de santé particuliers.</p>
      </div>
      
      <div class="row">

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start">
            <div class="member-info">
            {% for item in medecin %}
              <h4>{{item.fullname}}</h4>
              <span>{{item.specialitesmedicales}}</span>
              <p>
                {{item.telephone }}
              </p> 
                <br><br>
            {% endfor %}
            </div>
          </div>
        </div> 
      </div>
        {% comment %} <div class="col-lg-6">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="{% static 'images/doctors/doctors-1.jpg' %}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4> Hassane AALIOUET</h4>
              <span>Ophtalmologie <br>
                </span>
              <p>132 Avenue Driss Harti 2ème étage Cité Djemâa Jamila 3 Sidi Othmane
                Casablanca Moulay Rachid (Ar)</p>
            </div>
          </div>
        </div> {% endcomment %}

        {% comment %} <div class="col-lg-6">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="{% static 'images/doctors/doctors-1.jpg' %}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Khaldi Hassan</h4>
              <span>MÉDECIN GÉNÉRALISTE <br>
                </span>
              <p>Bd Allal AlFassi , bloc 57 , 1°ét appt. n°3 - 60000 Oujda</p>
            </div>
          </div>
        </div> {% endcomment %}

        {% comment %} <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="{% static 'images/doctors/doctors-2.jpg' %}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4> Sabira AACHCHAK</h4>
              <span>Médecine générale</span>
              <p>Centre Oulad Amrane, 1er Etage,
                Sidi Bennour Oulad Amrane</p>
            </div>
          </div>
        </div> {% endcomment %}
        {% comment %} <div class="col-lg-6">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="{% static 'images/doctors/doctors-1.jpg' %}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Haouat Nasreddine</h4>
              <span>OPHTALMOLOGUE <br>
                </span>
              <p>Bd. Zerktouni imm. Zinbi 2°ét. - 0 Oujda</p>
            </div>
          </div>
        </div> {% endcomment %}

        
        {% comment %} <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="{% static 'images/doctors/doctors-3.jpg' %}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4> Omar AALLOULA</h4>
              <span>Médecine du travail</span>
              <p>hôpital cheikh khalifa
                Casablanca Hay-Hassani (Ar)
                </p>
            </div>
          </div>
        </div> {% endcomment %}
        
      </div>
     

    </div>
   
    

    </div>
  </section><!-- End Doctors Section -->
    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    
    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock content %}   