{% extends 'base.html' %} 
{% load static %}
{% block content %}


<!-- ======= Doctors Section ======= -->
<section id="doctors" class="doctors">
    <div class="container">
      <br><br>
      <div class="section-title">
        <h2>Médecin</h2>
        <div class="container">
        <p style="text-align: justify;">Les recommandations de médecins peuvent être précieuses lorsqu'il s'agit de choisir un nouveau médecin,
           surtout si vous recherchez une spécialité spécifique ou si vous avez des besoins de santé particuliers.</p>
           <br><br>
      </div>
      <div class="row">
        {% for item in medecin %}
        <div class="col-lg-6 mt-4">
          {% comment %} <div class="member d-flex align-items-start"> {% endcomment %}
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
              <a href="#">
                  <img class="rounded-t-lg"  src="{{ item.image.url }}" alt="doctors"/>
              </a>
               <div class="p-5">
                <a href="#">
                <h4 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{item.fullname}}</h4>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </a>
                <span>{{item.specialitesmedicales}}</span>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> {{item.telephone }} </p> 
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> {{item.adresse }} </p> 
                  <br><br>
              {% comment %} </div> {% endcomment %}
              </div>
            </div>
          </div> 
        {% endfor %}
      </div>

    </div>
  </section><!-- End Doctors Section -->
    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    
    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock content %}   