{% extends 'base.html' %} 
{% load static %}
{% block content %}

<section id="produit" class="produit">
    <div class="container">
      <br><br>
     <h1>Produit complément alimentaire</h2><br><br>

        <div class="nb">
            <h2>N.B</h2>
            <p>Chaque personne est unique, et les besoins en compléments alimentaires peuvent varier en fonction 
                de l'état de santé individuel, du régime alimentaire et des autres facteurs. Un professionnel de la santé pourra vous fournir des recommandations personnalisées
                 en fonction de votre situation spécifique.</p>
         </div><br><br>
     <div class="prod">

        <h4>Maladies cardiovasculaires :</h4>
        <p>Huile de poisson (oméga-3) <br>
            Coenzyme Q10 <br>
            L-arginine <br>
            Vitamine D <br>
            Vitamine K2</p>
            <br><br>


        <h4>Diabète :</h4>
        <p>Chrome <br>
            Acide alpha-lipoïque <br>
            Cannelle <br>
            Ginseng <br>
            Berbérine</p>
             <br><br>


        <h4>Stress et anxiété :</h4>
        <p>Rhodiola rosea <br> Ashwagandha Camomille <br> L-théanine <br> Magnésium</p>
                  <br><br>   

        <h4>Stress et anxiété :</h4>
        <p>Rhodiola rosea <br> Ashwagandha Camomille <br> L-théanine <br> Magnésium</p>
            <br><br> 
        
     </div>
     
    </div>
  </section> 
  
 {% endblock content %}