{% extends 'base.html' %}
{% block content %}
{% comment %} <br><br>
<br><br>
<h2>Doctor Recommendations</h2>
<p>{{ recommendation.fullname }}</p> {% endcomment %}

<br><br><br><br>
{% comment %} <form method="post">
    {% csrf_token %}
    <label for="symptoms">Enter your symptoms:</label><br>
    <textarea name="symptoms" rows="4" cols="50"></textarea><br>
    <input type="submit" value="Get Recommendations">
</form> {% endcomment %}
<h2>Doctor Recommendations</h2>
<p>{{ recommendation }}</p>
<!-- recommendation/templates/recommendation/results.html -->




{% endblock content %}


