{% extends 'base.html' %}
{% block content %}
<br><br>

<html>

<body>
  <h1>Recommandation de médecins</h1>
  {% comment %} <form method="POST">
    {% csrf_token %}
    <label for="city">Ville :</label>
    <input type="text" name="city" id="city" required><br><br>
    <label for="specialty">Spécialité :</label>
    <input type="text" name="specialty" id="specialty" required><br><br>
    <button type="submit">Rechercher</button>
  </form> {% endcomment %}

  {% if doctors %}
    <h2>Résultats de la recommandation :</h2>
    <ul>
      {% for doctor in doctors %}
        <li>{{ doctor}}</li>
      {% endfor %}
    </ul>
  {% endif %}
</body>
</html>




{% endblock content %}


