 <!-- ======= Services Section ======= -->
 {% extends 'base.html' %} 
 {% load static %}
 {% block content %}
 <section id="services" class="services">
    <div class="container">
      <br><br>
      <div class="section-title">
        <br>
        <h2>Services</h2>
        <p>Ces services combinés offrent aux utilisateurs une expérience de recherche de médecin personnalisée,
           pratique et fiable,tout en les aidant à prendre des décisions éclairées pour leur santé.
           En résumé, un site de recommandation de médecin personnalisé offre aux utilisateurs 
           une plateforme conviviale pour trouver des médecins adaptés à leurs besoins, 
           en utilisant des recommandations</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-user-doctor"></i></i></div>
            <h4><a href="">Chercher un docteur</a></h4>
            <p>Le site utilise des algorithmes pour générer des recommandations personnalisées de médecins en 
              fonction des préférences et des besoins spécifiques de chaque utilisateur</p>
            </div>
        </div>


            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="icon-box">
                <div class="icon"><i class="fa-solid fa-kit-medical"></i></div>
                <h4><a href="">Produit complément alimentaire </a></h4>
                <p>Il est essentiel de souligner que les compléments alimentaires médicaux doivent être
                  utilisés conformément aux recommandations d'un professionnel de la santé.</p>
                </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-comment"></i></div>
            <h4><a href="">Évaluations et commentaires</a></h4>
            <p>Vous peuvez consulter les évaluations et les commentaires laissés
               par d'autres patients qui ont consulté les médecins recommandés</p>
          </div>
        </div>
    </div>
  </section><!-- End Services Section --> 
  {% endblock content %}