 <!-- ======= Header ======= -->
 {% load static %}
 <header id="header" class="fixed-top">
  {% comment %} <nav class="sticky">
    <!-- Contenu de votre nav bar -->
  </nav> {% endcomment %}
  <div class="container d-flex align-items-center">

    {% comment %} <h1 class="logo me-auto"><a href="{% url 'home' %}">SRMP</a></h1> {% endcomment %}
    
   <a href="{% url 'home' %}" class="logo me-auto"><img src="{% static 'images/logo.png' %}" alt="" class="img-fluid"></a>

    <nav id="navbar" class="navbar order-last order-lg-0 " >
      <ul>
        <li><a class="nav-link" href="{% url 'home' %}">Accueil</a></li>
        <li><a class="nav-link" href="{% url 'medecin' %}">Médecin</a></li>
        <li><a class="nav-link" href="{% url 'recommandation' %}">recommandation</a></li> 
        <li><a class="nav-link" href="{% url 'services' %}">Services</a></li> 
        <li><a class="nav-link" href="{% url 'propos' %}">À propos</a></li>
        <li><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>  
        <li><a class="nav-link" href="{% url 'login' %}">Sign</a></li> 
        <li><a class="nav-link" href="{% url 'signup' %}">Sign Up</a></li> 
       
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  

  </div>
</header><!-- End Header -->
