
<div id="topbar" class="d-flex align-items-center">
  <div class="container d-flex justify-content-between">
    <div class="contact-info d-flex align-items-center">
      <i class="bi bi-envelope"></i> <a href="mailto:fdjikoloum@nismatech.com">fdjikoloum@nismatech.com</a>
      <i class="bi bi-phone"></i> +212536688118
    </div>
    <div class="d-none d-lg-flex social-links align-items-center">
      <a href="https://www.linkedin.com/company/nismatech" target="_blank"><i class="fab fa-linkedin"></i></a>  
      <a href="https://www.facebook.com/nismatech" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com/nismatech" target="_blank"><i class="fab fa-instagram"></i></a>
          
    </div>
  </div>
</div>
